*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #50c793;
}
.container{
	width: 800px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.acordeon{
	margin-bottom: 16px;
}
.acordeon .header{
	position: relative;
	color: white;
	background: #32805e;
	padding: 10px;
}
.acordeon .content{
	height: 0;
	overflow: hidden;
	transition: 500ms;
	background: white;
}
.acordeon .header::after{
	font-size: 20px;
	content: '+';
	position: absolute;
	top: 50%; right: 20px;
	transform: translateY(-50%);
}
.active .header::after{
	content: '-';
}
.acordeon .header:hover{
	cursor: pointer;
}
.acordeon .active{
	height: 150px;
	padding: 10px;
}